


.main-container{
  /* First way ----*/
  /* display: inline-flex;
  flex-wrap: wrap;
  gap:100px */

  /* Second way ------*/
  height: 100%;
  display: flex;
  gap: 5%;
}
.sidebar-section{
  
  /* background-color: gray; */
  box-shadow: 2px 2px 6px black;
}